Checks: >
  -*,
  boost-*,
  bugprone-*,
  cppcoreguidelines-*,
  google-*,
  llvm-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-braces-around-statements,
  -llvm-include-order,
  -google-readability-braces-around-statements,
  -modernize-use-trailing-return-type,
  -clang-diagnostic-unused-command-line-argument,
  -google-runtime-references,
  -modernize-use-transparent-functors,
  -llvm-header-guard,
  -modernize-pass-by-value,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-union-access,
  -readability-implicit-bool-conversion,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-named-parameter,
  -cppcoreguidelines-pro-type-member-init

WarningsAsErrors: '*'
